<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <!--Import materialize.css -->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" media="screen,projection"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/drones.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>FAED</title>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <script>
        // This example creates circles on the map, representing
        // radiuss in North America.

        var map;
        var image1 = {
            url: '/static/img/faeddrone100x100.png',
            // This marker is 20 pixels wide by 32 pixels tall.
            size: new google.maps.Size(100, 100),
            // The origin for this image is 0,0.
            origin: new google.maps.Point(0,0),
            // The anchor for this image is the base of the flagpole at 0,32.
            anchor: new google.maps.Point(50, 50)
        };

        var image2 = {
            url: '/static/img/marker.png',


        };
        var markers = [];
        var circles = [];


        var hangars = {};
        var droppoints = [];

        hangars = loadHangars();
        droppoints = loadDroppoints();


        var cityCircle;


        function initialize() {


            // Create the map.
            var mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(41.617147, 0.624870),
                mapTypeId: google.maps.MapTypeId.HYBRID
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            // Construct the circle for each value in hangar.
            // Note: We scale the area of the circle based on the radius.
            for (var city in hangars) {
                if (hangars[city].availability){
                    addMarkerIcon(hangars[city].center, map, image1, hangars[city].title);
                    addCircle(hangars[city].center, map, hangars[city].title, hangars[city].radius);
                }
            }


            for (var point in droppoints) {
                if(droppoints[point].availability){
                    addMarker(droppoints[point].center, map , droppoints[point].title,droppoints[point].name, droppoints[point].description);
                }

            }

            map.addListener('click', function(e) {
                placeMarkerAndPanTo(e.latLng, map);
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);

        var infowindow = new google.maps.InfoWindow({
        });

        var marker = new google.maps.Marker({
            icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

        function placeMarkerAndPanTo(latLng, map) {
            marker.setPosition(latLng)
            marker.setMap(map)
            map.panTo(latLng);
            infowindow.setContent("<a onclick=\"show_incidence(\'" + "{{ url_base }}" + "incidence/?lat=" + latLng.lat() + "&lng=" + latLng.lng() + "\')\" style=\"cursor: pointer;\">Create Emergency</a>");
            infowindow.open(map, marker);
        }

    </script>

    <script>
        $(document).ready(function(){
            // Initialize collapse button
            $(".button-collapse").sideNav();
            // Initialize collapsible (uncomment the line below if you use the dropdown variation)
            //$('.collapsible').collapsible();

            $('.meteostations').on('click', function(){
                testingjquery();
            })

            $('.droppoint').on('click', function(){

                var $el = $(this);
                var isSelected = $el.attr('data-selected');

                if( isSelected != 'true' ){
                    for(var i=0;i<markers.length;i++){
                        if(markers[i].title =="droppoint"){
                            markers[i].setVisible(false);
                        }
                    }
                    $el.attr('data-selected', true)
                }else{
                    for(var i=0;i<markers.length;i++){
                        if(markers[i].title =="droppoint"){
                            markers[i].setVisible(true);
                        }
                    }            $el.attr('data-selected', false)
                }

            })


            $('.hangar').on('click', function(){
                var $el = $(this);
                var isSelected = $el.attr('data-selected');

                if( isSelected != 'true' ){
                    for(var i=0;i<markers.length;i++){
                        if(markers[i].title =="hangar"){
                            markers[i].setVisible(false);
                        }
                    }
                    for(var i=0;i<circles.length;i++){
                        if(circles[i].title =="hangar"){
                            circles[i].setVisible(false);
                        }
                    }

                    $el.attr('data-selected', true)
                }else{
                    for(var i=0;i<markers.length;i++){
                        if(markers[i].title =="hangar"){
                            markers[i].setVisible(true);
                        }
                    }
                    for(var i=0;i<circles.length;i++){
                        if(circles[i].title =="hangar"){
                            circles[i].setVisible(true);
                        }
                    }

                    $el.attr('data-selected', false)
                }

            })

        });

        function refresh_kml(){
            url_to = "/refresh_kml";
            $.ajax({url: url_to});
        }

        function show_incidence(url){
            $.ajax({url: url});
        }



    </script>
</head>

<body>

<div id="menu-top">
    <nav style="position: fixed;">
        <ul id="slide-out" class="side-nav">
            <p class="center-align">
                <img src="/static/img/faed_logo.png" width="200px"/>
            </p>
            <li><a href="/index">
                <i class="material-icons small" style="margin: 10px; position:relative; top:7px;">map</i>Map</a>
            </li>
            <li><a href="/hangars">
                <i class="material-icons small" style="margin: 10px; position:relative; top:7px;">open_with</i>Hangars</a>
            </li>
            <li><a href="/droppoints">
                <i class="material-icons small" style="margin: 10px; position:relative; top:7px;">pin_drop</i>DropPoints</a>
            </li>
            <li><a href="/meteostations">
                <i class="material-icons small" style="margin: 10px; position:relative; top:7px;">satellite</i>Stations</a>
            </li>
            <li><a onclick="refresh_kml('{{ url }}')">
                <i class="material-icons small" style="margin: 10px; position:relative; top:7px;">autorenew</i>Refresh KML</a>
            </li>
        </ul>
        <a href="#" style="cursor: pointer"  data-activates="slide-out" class="button-collapse  show-on-large"><i class="mdi-navigation-menu"></i></a>
    </nav>
</div>

{% block content %}
{% endblock content %}
</body>
<footer class="page-footer" style="position: fixed;">
    <div class="footer-copyright">
        <div class="container">
            © 2015 Open Source
            <a class="grey-text text-lighten-4 right" href="http://www.faeddroneproject.com/">FAED Project</a>
        </div>
    </div>
</footer>
</html>