{% extends "base.html" %}

{% block content %}

    <div class="container" style="margin-top:3%">
        <div class="row">
            <form class="col s12" method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="input-field col l6 s12 ">
                        {{ form.name.error }}
                        <label for="name" data-error="wrong" data-success="right">Nom</label>
                        {{ form.name }}
                    </div>
                    <div class="input-field col l6 s12">
                        <label for="plate">License Plate</label>
                        {{ form.plate }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form.style_url }}
                        <a class="material-icons" href="/styleurlform" target="_blank">add</a>
                    </div>
                    <button class="waves-effect waves-light btn-large" name="action" type="submit">
                        <i class="material-icons right">send</i>Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}