{% extends "base.html" %}

{% block content %}

    <div class="container">
        {% for city, meteostations_list in meteostations_city.iteritems %}
            <h2 class="header">{{city}}</h2>
            <ul class="collection">
                {% for meteostations in meteostations_list %}
                {% if meteostations.is_available %}

                <div class="row green" style="margin-bottom: 0px !important">
                        {% else %}
                <div class="row red">
                        {% endif %}
                    <div class="col l6">
                        <h4 class="activator grey-text text-darken-4">{{ meteostations.name }}</h4>
                    </div>
                    <div class="col l6" style="margin-top:6px;">
                        <a style="float:right;margin-right:6px;" class="btn-floating btn-large waves-effect waves-light blue-grey darken-4 square" onclick="Materialize.toast('<span>Are you sure?</span><a class=&quot;btn-flat yellow-text&quot; href=/meteostations/delete_meteostation/{{meteostations.id}}>Delete<a>', 5000)"><i class="material-icons" >delete</i></a>
                        <a href="edit_meteostation/{{meteostations.id}}" class=" square btn-floating btn-large waves-effect waves-light blue-grey darken-4" style="float:right;margin-right:6px;"><i class="material-icons">mode_edit</i></a>
                     </div>
                </div>
                        {% endfor %}

            </ul>

        {% endfor %}

       <div class="fixed-action-btn" style="bottom: 60px; right: 24px;">
                    <a class="btn-floating btn-large waves-effect waves-light amber darken-1 square" href="/meteostationform"><i class="large material-icons">add</i></a>
                </div>
    </div>

{% endblock content %}
